# Default ignored files
/.idea/
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
src/main/java/fr/eni/cozycoin/dal/ConnectionProvider.java
src/main/webapp/META-INF/context.xml
src/main/webapp/WEB-INF/lib
