/******************************
 *****     BASE STYLE     *****
 ******************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    display:flex;
    flex-direction: column;
    height:100vh;
}

main{
    flex-grow: 1;
}

/**************************
 *****     HEADER     *****
 **************************/

header{
    height:6vh;
    font-size:2vh;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
}

#Nav_Ul{
    width:100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:2vw;
    }

#Nav_Image_container{
    margin: 1vh auto 1vh 1vh;
}

#Nav_Image{
    height: 4vh;
}

.nav_Li{
    list-style: none;
}
.nav_Button{
    padding:1vh;
    color: cornflowerblue;
    font-size:2vh;
    border:1px solid black;
    border-radius: 2vh;
}

/************************
 *****     MAIN     *****
 ************************/


/**************************
 *****     FOOTER     *****
 **************************/

footer{
    height:6vh;
    font-size:2vh;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
}

.logoDev{
    height:4vh;
}