/************************
 *****     MAIN     *****
 ************************/

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px red;
}

form>h2{
    border:1px black solid;
    height:5dvh;
    width:70%;
    padding:1dvh;
    text-align: center;
}
form>div{
    border:1px black solid;
    padding: 3dvh 4dvh 2dvh 4dvh;
    height:10dvh;
    width: 70%;
    margin:2dvh;
}