/**************************
 *****     FOOTER     *****
 **************************/

footer{
    height:6vh;
    font-size:2vh;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
}

.logoDev{
    height:4vh;
}